<section>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
            <!-- Formulario de clients e tabela-->
            <app-clients></app-clients>
        </mat-card-actions>
    </mat-card>
    
    
    
    <!--<form>
                First name:<br>
                <input type="text" name="firstname" (input)="inputName = $event.target.value" [value]="inputName"><br>
            </form>
            <app-clients></app-clients>

            <div class="example-button-row">
                <button mat-button [color]="color">{{incluir}}</button>
            </div>
            <div class="example-button-row">
                <button mat-button [color]="colors[i]" [disabled]="BtnDisabled">{{compartilhar}}</button>
            </div>
            <div class="example-button-row">
                <button mat-button [color]="colors[i]" (click)="save()">Save</button>
            </div>
            <div>
                <mat-checkbox [color]="colors[i]" (change)="cbChange($event)">Disable/Enable</mat-checkbox>
            </div>
        </mat-card-actions>
    </mat-card>
</section>

<section>
    <mat-card-actions>
        <div>
            <p> Teste: {{teste}}</p>
            <p> TESTEGRANDE: {{TESTEGRANDE}}</p>
            <p> Age: {{age}}</p>
            <p> {{client.firstName}}</p>
            <p> {{client.lastName }}</p>
            <p> {{client.address}}</p>
            <p> {{client.age}}</p>
        </div>
    </mat-card-actions>
</section>

<section>
    <div>
        <select name="cars" [disabled]="selectDisabled" (selectonChange)="selectonChange($event)">
            <option value="volvo">{{ value }}</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
        </select>
    </div>


</section>
    <section>
        (plusTwo)="incBy(2)" (minusOne)="incBy(-1)" (minusTwo)="incBy(-2)"
        <app-data-table (inc)="incBy($event)" [title]="title" [clientes]="clients"></app-data-table>
    </section>-->