<mat-card>
    <mat-card-content>
        <section>
            <form class=form-field>
                First name:<br>
                <input type="text" name="firstname" [(ngModel)]="firstName"><br>
                Last name:<br>
                <input type="text" name="lastname" [(ngModel)]="lastName"><br>
                Age:<br>
                <input type="number" name="age" [(ngModel)]="age"><br>
            </form>
            <br />
            <div>
                <button mat-mini-fab color="primary" (click)="btnSave($event)">
                    <mat-icon>check</mat-icon>
                </button>
            </div>
            <br/>
        </section>
        <section>
            <app-data-table [clientes]="clients"></app-data-table>
        </section>
    </mat-card-content> 
</mat-card>

